<h1>ADD INGREDIENT</h1>

<form action="/ingredient/add" method="POST" class="form-horizontal">
  <div class="form-group">
    <label for="i_name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" id="i_name" name="ingredient[name]" class="form-control">
    </div>
  </div>
  <button action="submit" class="btn btn-primary">ADD</button>
</form>